.overlay-wrapper {
  background-color: transparent;
}

.lane-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 5px solid grey;
}

.lane {
  width: 25%;
}
