.overlay-wrapper {
  background-color: transparent;
}

.lane-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.lane {
  width: 25%;
}

.debug-indicator {
  font-size: 16px;
  font-weight: bolder;
  background-color: tomato;
  padding: 16px;
  margin-top: 8px;
  border-radius: 8px;
}
